section {
  padding: 60px 0;
}

.section-title {
  padding-bottom: 40px;

  h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $tertiaryColor;
    font-family: "Poppins", sans-serif;

    &::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: $tertiaryColor;
      margin: 4px 10px;
    }
  }

  p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: $secondaryColor;
  }
}