// Colors
$themeColor: #000319;
$primaryColor: #FFFFFF;
$secondaryColor: #CBACF9;
$tertiaryColor: #E4ECFF;

// Typography
$fontPrimary: 'Open Sans', sans-serif;
$fontSecondary: 'Roboto', sans-serif;

// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);