/*--------------------------------------------------------------
# Header
-------------------------------------------------------------*/
#header {
  background: rgba(0, 3, 25, 0.65);
  transition: all 0.5s;
  z-index: 997;
  height: 80px;
}